body {
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  margin: 0 auto;
  padding: 25px;
    
 
  text-align: center;
    
}

header {
    background-color: #333;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    
  }
  header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  header li{
    display: inline-block;
    padding:10px 10px;
  }
  header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  header li:hover{
    background-color: #111

  }
.introBox{
  position:relative;
    padding-top: 20px;
    padding-bottom: 10px;
}
.infoImage{
    border-radius: 50%;
  border: 7px solid #fff;
  width: 350px;
  height: 350px;
  
}
 
.introBox li{
  display: inline-block;
  padding:10px 10px;
  text-align: center;
  text-decoration: none;
 
}
.project{
  position:relative;
  margin: 50px 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #E4F9F5;
  
}
.projectImg{
  height: 100%;
  width: 600px;
}



.contact{
    position: relative;
    bottom: 0px;
   
}
.contactInfo{
  font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding:5px 5px;
    font-size: 15px;
}

.socialMedia{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.socialMedia li{
    
    display: inline-block;
    padding:10px 10px;
    text-align: center;
    text-decoration: none;
    margin:5px 5px 5px 5px;
}
.fb{
    color:blue;
    cursor: pointer;
}

.github{
    color:black;
    cursor: pointer;
}

.linkin{
    color:rgb(51, 51, 240);
    cursor: pointer;
}
.resume{
  cursor: pointer;
}
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color:#ccc;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 10px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  cursor: pointer;
}