body {
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  margin: 0 auto;
  padding: 25px;
    
 
  text-align: center;
    
}

header {
    background-color: #333;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    
  }
  header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  header li{
    display: inline-block;
    padding:10px 10px;
  }
  header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  header li:hover{
    background-color: #111

  }
.introBox{
  position:relative;
    padding-top: 20px;
    padding-bottom: 10px;
}
.infoImage{
    border-radius: 50%;
  border: 7px solid #fff;
  width: 350px;
  height: 350px;
  
}
 
.introBox li{
  display: inline-block;
  padding:10px 10px;
  text-align: center;
  text-decoration: none;
 
}
.project{
  position:relative;
  margin: 50px 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.projectImg{
  height: 100%;
  width: 600px;
}



.contact{
    position: relative;
    bottom: 0px;
   
}
.contactInfo{
    text-align: center;
    padding:5px 5px;
}

.socialMedia{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.socialMedia li{
    
    display: inline-block;
    padding:10px 10px;
    text-align: center;
    text-decoration: none;
}
.fb{
    color:blue
}

.github{
    color:black
}

.linkin{
    color:rgb(51, 51, 240)
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color:#ccc;
}